[package]
name = "minecrust_protocol"
version = "0.1.0"
edition = "2024"

[dependencies]
thiserror = { workspace = true }
tracing = { workspace = true }
tokio = { workspace = true, features = ["io-util"]}
